.loginBody {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginCard {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
  text-align: center;
  padding: 30px;
}

.loginBody h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.formLogin {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: normal;
  width: 400px;
}

.loginCard label {
  font-size: 1rem;
  text-align: left;
  color: #555;
}

.loginCard input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s;
  padding: 10px;
  font-size: 1rem;
}

.loginCard input:focus {
  border-color: #4facfe;
  outline: none;
}

.loginCard button {
  background: #4facfe;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
  margin: 10px 0;
  font-size: 1rem;
}

.loginBody p {
  color: #666;
  margin: 10px 0;
}

.loginBody a {
  color: #4facfe;
  text-decoration: none;
  font-weight: bold;
}

.loginBody a:hover {
  text-decoration: underline;
}
