.todoBody {
  margin-top: 120px;
}

.App {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

h1 {
  color: #333;
}

form {
  display: flex;
  gap: 10px;
  width: 500px;
  flex-direction: column;
  align-items: center;
}

.addButton {
  background: #4facfe;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
  margin: 10px 0;
  font-size: 1rem;
}

input[type="text"],
input[type="date"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 25vw;
}
button {
  padding: 10px;
  border: 1px solid #a09292;
  border-radius: 4px;
  color: black;
}

input[type="text"]:focus,
input[type="date"]:focus {
  border-color: #007bff;
  outline: none;
}

button {
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #428bda;
  color: white;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: #fff462; /* カードの背景色 */
  border: 1px solid #fff462; /* 枠線 */
  border-radius: 8px; /* 角を丸める */
  padding: 16px; /* 内側の余白 */
  margin: 10px 0; /* 上下の余白 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 軽い影 */
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section {
  display: flex;
  align-items: center;
  flex: 4;
  justify-content: start;
}

.left-section span {
  margin-left: 1rem;
}

.right-section {
  display: flex; /* アイコンを横並びに */
  gap: 8px; /* アイコン間に余白を追加 */
  align-items: center;
  flex: 1;
  justify-content: end;
}

.buttonIcon {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.completed {
  text-decoration: line-through; /* 取り消し線を追加 */
  color: gray; /* テキストの色を薄くする（オプション） */
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background: linear-gradient(to right, #eef2f3, #8e9eab); /* 上品な背景 */
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

header > div {
  flex: 1;
  display: flex;
  align-items: center;
}

header > div:nth-child(2) {
  justify-content: center;
}

header > div:last-child {
  justify-content: flex-end;
  gap: 10px;
}

header span {
  font-size: 0.8rem;
}
